<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>Deals Hub - finding hotel deals made easy!</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>

<!-- navbar starts -->
<nav class="red darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href='' class="brand-logo">Deals Hub</a>
      <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>


<div class="container">
  <!-- create search and filter -->
<div class="row">
  <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Search by name or location" id="search" type="text" class="validate">
        </div>
         <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Filter</option>
            <option value="1">None</option>
            <option value="1">Rating : Acending</option>
            <option value="2">Rating : Decending</option>
            <option value="3">Price : high to low</option>
            <option value="3">Price : low to high</option>
          </select>
        </div>
      </div>
      </form>
</div>
  <!-- list of hotels -->
<div class="row">
   <div class="col s12 m6">
          <div class="card large hoverable z-depth-4">
            <div class="card-image">
              <img src="https://images.treebohotels.com/files/GrandContinent_Reception.jpg?w=250&fit=crop&fm=jpg&h=200">
              <span class="card-title red">Card Title</span>
            </div>
            <div class="card-content">
              <p>11 & 12, Silicon Town, 2nd phase, Electronic City, Bengaluru, 560100</p>
              <p>Actual price : <strike><i class="fa fa-inr "></i> 1222</strike></p>
              <p><i class="fa fa-tag red-text"></i> Discounted Price : <i class="fa fa-inr red-text "> 1000</i></p>
              <p class="right">10% discount</p>
            </div>
            <div class="card-action">
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="blue-text">3</i>

              <a class="right red-text" href="#">Link</a>
            </div>
          </div>
        </div>

    <div class="col s12 m6">
          <div class="card large hoverable z-depth-4">
            <div class="card-image">
              <img src="https://images.treebohotels.com/files/GrandContinent_Reception.jpg?w=250&fit=crop&fm=jpg&h=200">
              <span class="card-title red">Card Title</span>
            </div>
            <div class="card-content">
              <p>11 & 12, Silicon Town, 2nd phase, Electronic City, Bengaluru, 560100</p>
              <p>Actual price : <strike><i class="fa fa-inr "></i> 1222</strike></p>
              <p><i class="fa fa-tag red-text"></i> Discounted Price : <i class="fa fa-inr red-text "> 1000</i></p>
              <p class="right">10% discount</p>
            </div>
            <div class="card-action">
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="tiny material-icons ">star</i>

              <a class="right red-text" href="#">Link</a>
            </div>
          </div>
        </div>

    <div class="col s12 m6">
          <div class="card large hoverable z-depth-4">
            <div class="card-image">
              <img src="https://images.treebohotels.com/files/GrandContinent_Reception.jpg?w=250&fit=crop&fm=jpg&h=200">
              <span class="card-title red">Card Title</span>
            </div>
            <div class="card-content">
              <p>11 & 12, Silicon Town, 2nd phase, Electronic City, Bengaluru, 560100</p>
              <p>Actual price : <strike><i class="fa fa-inr "></i> 1222</strike></p>
              <p><i class="fa fa-tag red-text"></i> Discounted Price : <i class="fa fa-inr red-text "> 1000</i></p>
              <p class="right">10% discount</p>
            </div>
            <div class="card-action">
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="tiny material-icons ">star</i>

              <a class="right red-text" href="#">Link</a>
            </div>
          </div>
        </div>

    <div class="col s12 m6">
          <div class="card large hoverable z-depth-4">
            <div class="card-image">
              <img src="https://images.treebohotels.com/files/GrandContinent_Reception.jpg?w=250&fit=crop&fm=jpg&h=200">
              <span class="card-title red">Card Title</span>
            </div>
            <div class="card-content">
              <p>11 & 12, Silicon Town, 2nd phase, Electronic City, Bengaluru, 560100</p>
              <p>Actual price : <strike><i class="fa fa-inr "></i> 1222</strike></p>
              <p><i class="fa fa-tag red-text"></i> Discounted Price : <i class="fa fa-inr red-text "> 1000</i></p>
              <p class="right">10% discount</p>
            </div>
            <div class="card-action">
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="tiny material-icons ">star</i>

              <a class="right red-text" href="#">Link</a>
            </div>
          </div>
        </div>

    <div class="col s12 m6">
          <div class="card large hoverable z-depth-4">
            <div class="card-image">
              <img src="https://images.treebohotels.com/files/GrandContinent_Reception.jpg?w=250&fit=crop&fm=jpg&h=200">
              <span class="card-title red">Card Title</span>
            </div>
            <div class="card-content">
              <p>11 & 12, Silicon Town, 2nd phase, Electronic City, Bengaluru, 560100</p>
              <p>Actual price : <strike><i class="fa fa-inr "></i> 1222</strike></p>
              <p><i class="fa fa-tag red-text"></i> Discounted Price : <i class="fa fa-inr red-text "> 1000</i></p>
              <p class="right">10% discount</p>
            </div>
            <div class="card-action">
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="tiny material-icons ">star</i>

              <a class="right red-text" href="#">Link</a>
            </div>
          </div>
        </div>

    <div class="col s12 m6">
          <div class="card large hoverable z-depth-4">
            <div class="card-image">
              <img src="https://images.treebohotels.com/files/GrandContinent_Reception.jpg?w=250&fit=crop&fm=jpg&h=200">
              <span class="card-title red">Card Title</span>
            </div>
            <div class="card-content">
              <p>11 & 12, Silicon Town, 2nd phase, Electronic City, Bengaluru, 560100</p>
              <p>Actual price : <strike><i class="fa fa-inr "></i> 1222</strike></p>
              <p><i class="fa fa-tag red-text"></i> Discounted Price : <i class="fa fa-inr red-text "> 1000</i></p>
              <p class="right">10% discount</p>
            </div>
            <div class="card-action">
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons blue-text">star</i>
              <i class="tiny material-icons ">star</i>
              <i class="tiny material-icons ">star</i>

              <a class="right red-text" href="#">Link</a>
            </div>
          </div>
        </div>
  

</div>
   

   



</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type="text/javascript">
  
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50}, 'rounded');
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('.modal-trigger').leanModal();
    $('select').material_select();
    });
</script>
</body>
</html>
